.content {
    margin-top: 100px;
}

.content .square {
    width: 200px;
    height: 200px;
    transition: 2s;
}

.content .blue {
    background-color: blue;
}

.content .blue:hover {
    width: 400px;
}

.content .pink {
    background-color: pink;
}

.content .pink:hover {
    width: 300px;
    height: 300px;
}